<div id="homepage">
    <img class="visible-md visible-lg pull-right full-vh-logo" src="<%= image_url('largedesktoplogo.png')%>">
    <img class="visible-sm pull-right full-vh-logo" src="<%= image_url('mediumdesktoplogo.png')%>">
    <img id="smallLogo" class="visible-xs center-block" src="<%= image_url('smalllogo.png')%>">
    <div class="nav-container text-center">
        <nav>
            <a href="/about" class="hvr-forward">The project</a>
            <a>Data charts<span><br>COMING SOON...</span></a>
        </nav>
    </div>
</div>