<div class="minRow">
    <h6>DATA FOR A BRIGHTER FUTURE</h6>
</div>
<div id="homepage">
    <div class="row" id="firstRow">
        <div class="square" id="logoSq">
            <img src=<%= image_url('logo.png') %>>
            <a class="hvr-float" href="/">ABOUT</a>
            <a class="hvr-float" href="/">CONTACT</a>
        </div>
        <div class="rectangle" id="catRct">
            <a class="hvr-sweep-to-right" href="/">ALL CATEGORIES</a>
        </div>
    </div>
    <div class="row" id="secondRow">
        <div class="square" id="lobbiestSq">
            
        </div>
    </div>
</div>