// QUERIES
$large: 1200px;
$medium: 992px;
$small: 767px;
$xsmall: 480px;
/////////////////////////
///////// THEME /////////
/////////////////////////
.full-vh-logo{
    height: 100vh;
    margin-right: 20px;
}
.nav-container{
    height: 100vh;
    width: 350px;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    nav{
        padding-top: 150px;
        a{
            color: #D2B0B0;
            text-decoration: none;
            font-size: 18px;
            display: block;
            margin-top: 20px;
            position: relative;
            z-index : 1;
            padding-bottom: 6px;
            &:hover{
            }
            &:first-child{
                &:hover{
                    color: white;
                    cursor: pointer;
                    &:before{
                        border-bottom-color: white;
                    }
                }
            }
            &:before{
                content : "";
                position: absolute;
                margin: 0 auto;
                right: 0;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 25px;
                border-bottom:1px solid #D2B0B0;
            }
            & span{
                font-size: 10px;
            }
        }
    }
    
    @media screen and (max-width: $large){
        width: 300px;
    }
    @media screen and (max-width: $medium){
        width: 250px;
    }
    @media screen and (max-width: $small){
        height: 25vh;
        position: absolute;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0,0,0,0.2);
        nav{
            padding-top: 0;
            a, a:first-child{
                display: inline-block;
                margin-top: 40px;
                padding: 0 30px 6px;
                vertical-align: top;
            }
        }
    }
}
/////////////////////////
/////// HOMEPAGE ////////
/////////////////////////
#homepage{
    height: 100vh;
    background: url('largedesktop.jpg') 50% 40%/cover;
    #smallLogo{
        padding-top: 5vh;
    }
    @media screen and (max-width: $medium){
        background: url('mediumdesktop.jpg') 50% 40%/cover;
    }
    @media screen and (max-width: $small){
        
    }
    @media screen and (max-width: $xsmall){
        background: url('xsmallbackground.jpg') 50% 40%/cover;
    }
}
